In [1]:
from sklearn.datasets import fetch_california_housing
cal = fetch_california_housing()

In [2]:
cal.data.shape

(20640, 8)

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(cal.data, columns=cal.feature_names)

In [6]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
dtypes: float64(8)
memory usage: 1.3 MB

In [9]:
pd.isna(df).sum()

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64

In [10]:
import numpy as np

In [12]:
np.isnan(df.values).any()

False

In [15]:
from sklearn.model_selection import train_test_split
xtr, xts, ytr, yts = train_test_split(df, cal.target, random_state=0, shuffle=False, test_size=0.2)

In [19]:
ytr.mean()

2.02067031310562

In [20]:
np.median(yts)

2.1475

In [21]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [25]:
scaler = StandardScaler()
xscl = scaler.fit_transform(xtr.values)

lr = LinearRegression().fit(xscl, ytr)

In [26]:
lr.coef_

array([ 0.83817967,  0.12032096, -0.32135834,  0.36456599, -0.00170674,
       -0.04524631, -0.87994217, -0.82634126])

In [27]:
lr.intercept_

2.020670313105614